amqp==2.3.2
billiard==3.5.0.4
celery==4.2.1
certifi==2018.8.24
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.29
django-appconf==1.0.2
django-cors-headers==2.3.0
django-filter==2.0.0
django-imagekit==4.0.2
django-libs==2.0.0
django-redis==4.9.0
djangorestframework==3.8.2
idna==2.7
Jinja2==2.10
kombu==4.2.1
MarkupSafe==1.0
oauthlib==2.1.0
pilkit==2.0
Pillow==5.2.0
psycopg2==2.7.4
PyJWT==1.6.4
python3-openid==3.1.0
pytz==2018.5
redis==2.10.6
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
urllib3==1.23
vine==1.1.4
