amqp==2.3.2
billiard==3.5.0.4
celery==4.2.1
certifi==2018.8.24
chardet==3.0.4
Django==1.11
django-appconf==1.0.2
django-cors-headers==2.3.0
django-filter==2.0.0
django-imagekit==4.0.2
django-libs==2.0.0
django-object-actions==1.0.0
django-redis==4.9.0
djangorestframework==3.8.2
djangorestframework-simplejwt==3.2.3
idna==2.7
Jinja2==2.10
kombu==4.2.1
MarkupSafe==1.0
pilkit==2.0
Pillow==5.2.0
psycopg2==2.7.4
PyJWT==1.6.4
pytz==2018.5
redis==2.10.6
requests==2.19.1
six==1.11.0
urllib3==1.23
vine==1.1.4
